// Typography.
$font-xs: 12px;
$font-sm: 14px;
$font-reg: 16px;
$font-lg: 18px;
$font-xl: 20px;

// Colors.
$bg-1: rgb(243 247 253);
$bg-2: #ffffff;
$bg-convo: #e2dfd8;

$primary: #000000;
$secondary: #54656f;
$tertiary: #5d5d5d;
$light: #ffffff;

$success: #44d62c;
$error: #c8323c;

// Navbar.
$navbar-border: #e9edef;

$letter-spacing-sm: 0.1rem;
$letter-spacing-reg: 0.2rem;
$letter-spacing-lg: 0.3rem;
