@use 'src/variables.scss';

.signupWrapper {
  height: 28rem;
  width: 25rem;
  display: flex;
  border-radius: 0.25rem;
  background-color: variables.$bg-2;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.inputField {
  background-color: variables.$bg-1 !important;
  width: 100% !important;
}

.button {
  border: 1px solid variables.$secondary !important;
  background-color: variables.$bg-1 !important;
}

.footer {
  cursor: pointer;
  text-decoration: underline !important;
}
